{% extends "ridit/base.html" %}
{% load static %}
  {% block content %}
    <div class="container mt-5">
      <div class="row mt-5">
        <div class="col-12 text-center mt-5">
          <h1 class='post-title'>
            Getting License - FAQs
          </h1>
        </div>
        <div class="col-12 mt-5">
          <h3>How does the Learner's license authorized me to drive ?</h3>
          <p>It allows you to learn driving with a regular and experienced driver of your choice. If you want to drive a motor car or a two-wheeler, this should be along with a friend, relative or an instructor of a driving school who holds a valid driving license. If you wish to become a professional driver and drive commercial, passenger or goods vehicles, you will have to get yourself trained at a driving school duly recognized by the Transport Department.
          </p>

          <h3>Are there any specific rules to be observed while learning or training ?
          </h3>

          <p>Yes, there are two rules. The first is that you must paste or paint a‘L’ sign at the back and front of your vehicle in red, on a white background and the second is that you must at all times be accompanied by a person holding a regular license. Secondly, If you are learning how to drive a two-wheeler, you cannot carry any other person on the pillion except your instructor.
          </p>

          <h3>What are the applications and documents required for Learner License ?
          </h3>

          <ul>
            <li> FORM NO.1 (Medical Certificate from MBBS Doctor) with self photo attested by the doctor with blood Group</li>
            <li>FORM NO.2 (Application form of Learner License) Self Photo
            </li>
          </ul>

          <h3>Proof of Address: (to produce any one of the following)
          </h3>

          <ul>
            <li>Ration Card </li>
            <li>Voter’s Identity Card</li>  
            <li>Certified Copy of Voter List</li>
            <li>Life Insurance Policy at least six months old with Latest Receip Valid Passport</li>
            <li>Employer’s certificate in case of Central Govt./State Govt./Local bodies supported by attested copy of Identity Card.
            </li>

            <p> <b>NOTE :</b> Any two of the above given options are sufficient.  </p>
          </ul>

          <h3>Proof of Age: (to produce any one of the following)
          </h3>

          <ul>
            <li>School Certificate.</li>
            <li>Birth Certificate.</li>
            <li>PAN card</li>
            <li>Certificate granted by the registered medical practitioner not below the rank of a Civil Surgeon.</li>
            <li> Self swearing Affidavit by an applicant before an executive Magistrate or a First Class Judicial Magistrate or a Notary Public as evidence of age and address
            </li>
          </ul>

          <h3>What is the amount of Fees payable ?</h3>
          <p>Fee Rs. 30/- for each class of vehicle to be paid at the R.T.O. Cash Counter.
          </p>

          <h3>Where to file application?</h3>
          <p>Application for learner’s licence shall be presented by the applicant before the RTO/ARTO of respective district</p>


          <h3>What is the period of validity of Learner's licence?</h3>
          <p> Learner’s licence is valid for the period of six months.
          </p>

          <h3>What is the Subject in the Preliminary/oral Test?</h3>
          <ul>
            <li>Traffic signs, traffic signals and rules of the road regulations made under section 118 of Motor Vehicles Act.</li>

            
            <li>
              Duties of driver when his vehicle is involved in an accident resulting in death or bodily injury of a person or damage to property of a third party.
            </li>  
            <li>
              Precautions to be taken while passing un-manned railway crossing 
            </li>

            <li>
              He should carry with him while driving a vehicle.
            </li>
          </ul>

          <h3>Age restrictions for obtaining learner's licence ?</h3>
          <ul>
            <li>  The applicant shall have attaining the age of 16 years in case of motor cycle with engine capacity not exceeding 50 cc (motor cycle without gear).</li>
            <li>  The consent/declaration of the parents/guardian is necessary and shall be signed before the licencing authority.</li>
            <li>  The applicant shall have completed the age of 18 years in case of motor cycle with gear or light motor vehicle.</li>
            <li> In case of transport vehicles one must have 20 years of age and three year driving experience of light motor vehicle.</li>
            <li>Medical certificate in Form CMV 1 and 1A is necessary in case of transport vehicle.</li>
          </ul>
        </div>
      </div>
    </div>

  {% endblock content%}