{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- imp meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="...">
    <meta name="keywords" content="..">
    <meta name="author" content="..">
  <!-- styles -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" 
  integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/f16998d44c.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link rel="stylesheet" href="{% static 'ridit/base.css' %}">
  <link rel="stylesheet" href="{% static 'ridit/main.css' %}">
  <style type="text/css">
  .custom-text{
      font-size: 3rem;
      font-family: serif;
      font-weight: bold;
      color: transparent;
      text-align: center;
      animation: effect 3s linear infinite;
  }
  @keyframes effect {
    0% {
            background: linear-gradient(
                    #3CE7D7,#6495ED,#8A2BE2);
            -webkit-background-clip: text;
        }

        100% {
            background: linear-gradient(
                    #3CE7D1,#6495FF,#8A2B00);
            -webkit-background-clip: text;
        }
    }
  </style>
  
  <title >DCS-Driven Chauffeurs Service</title>
</head>

<body>
  <nav class="navbar  navbar-expand-md navbar-light bg-custom fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand ms-sm-5 " href="{% url 'ridit-home' %}">
     <span class="custom-text">DCS</span>
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
              data-bs-target="#NSC" aria-controls="NSC" aria-expanded="false"
              aria-label="Toggle navigation"
      >
      <!-- icon of the button on mobile -->
        <span class="navbar-toggler-icon"></span>  
      </button>
      
      <div class="collapse navbar-collapse" id="NSC">
        <ul class="navbar-nav me-auto ">
          <li class="nav-item ms-sm-4">
            <a class="nav-link" href="{% url 'partner' %}"> Become our partner </a> 
          </li>
        </ul>
        
        <ul class='navbar-nav'>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ridit-home' %}">Home</a>
          </li>
          
          <!-- <li class="nav-item">
            <a class="nav-link" href="#services">Our Services</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'faq' %}">FAQs</a>
          </li>
          
          
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- <section class='container mt-5'>
    <div class="row mt-5">
      <div class="col-12 mt-5">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </section> -->


  {% block content %}{% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="{% static 'ridit/js/base.js' %}"></script>
</body>
</html>