{% extends "ridit/base1.html" %}
{% load static %}
  {% block content %}
    <div class="container mt-5">
      <div class="row mt-5">
        <div class="col-12 mt-5 text-center">
          <h1>Thanks for Reaching Out to us!!</h1>
          <br>
          <h6>Our Team will contact you soon for further updates.</h6>
          
          <div class="text-muted mt-4 mb-5">
            <h6>Still have some doubts</h6>
            <p>Contact us -> +91-8519082411</p>
          </div>

          <a  href="{% url 'ridit-home' %}" class='btn btn-lg btn-outline-primary'>
            Back to Main Page
          </a>
        </div>
      </div>
    </div>
  {% endblock content %}